@using SharedLibrary.Models
@model List<SharedLibrary.Models.ProductDto>
@{
	    ViewData["Title"] = "Home Page";
}

<div class="homepage-container">

@*     <div class="category-menu">
        <ul class="category-list d-flex">
            <li>@ViewBag.categoryId</li>
            @if (ViewBag.Categories != null)
            {                
                foreach (var category in ViewBag.Categories as List<CategoryDto>)
                {
                    var isActive = ViewBag.CategoryId != null && ViewBag.CategoryId == category.Id ? "active-category" : "";
                    <li class="category-item @isActive" style="margin-right: 15px;">
                        <a href="@Url.Action("Index", "Home", new { categoryId = category.Id })">@category.Name kha</a>
                    </li>
                }
            }
        </ul>
    </div> *@
    <!-- Featured Products Section -->
    <section class="featured-products">
        <h2>Sản phẩm yêu thích</h2>        
        <div class="d-flex flex-nowrap" style="gap: 1px; overflow-x: auto;"> 
        <div class="products-container">
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model)
                {
                <div class="products" style="width: 380px; height: 480px; margin-bottom: 1px;"> 
                    <img src="@product.Images" class="product-img-top" alt="@product.Name ?? "No Image"" style="width: 100%; height: auto;" /> 
                    <div class="product-item">
                        <h3>@product.Name</h3>
                        <p>@product.Description</p>
                        <p>Price: @product.Price đ</p>
                    </div>
                </div>
                }
            }
            else
            {
                <p>No products available.</p>
            }
        </div>
    </section>
</div> 